<div class="form-content">
  <p class="content">Utilizando nuestra app lo podrás lograr, envíanos tu correo para informarte</p>

  <%= render 'form' %>

  <p class="message">No te preocupes, no te llenaremos la bandeja de entrada.</p>
</div>
