<div class="form-content">
  <p class="content">Te ayudaremos a lograrlo, envíanos tu correo</p>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p class="message">No te preocupes, no te llenaremos la bandeja de entrada.</p>
</div>
